<h1>Редактировать</h1>

<%= render "form", railway_station: @railway_station %>

<br>

<div>
  <%= link_to "Назад", @railway_station %> |
  <%= link_to "Вернуться к списку станций", railway_stations_path %>
</div>
