<p style="color: green"><%= notice %></p>

<h1>Список станций</h1>

<div id="railway_stations">
  <% @railway_stations.each do |railway_station| %>
    <%= render railway_station %>
    <%#= link_to "Показать", railway_station %>
    <%#= link_to railway_station.title , railway_station %>
    <%# <p> --------------------------------------- </p> %>
  <% end %>
</div>

  <p>_________________________</p>

  <%= link_to "Создать новую станцию", new_railway_station_path %>

  <br>

  <%= link_to "На главную", welcome_index_path %>