<p style="color: green"><%= notice %></p>

<h1>Список станций</h1>

<div id="railway_stations">
  <% @railway_stations.each do |railway_station| %>
    <ul>
      <li><%= render railway_station %></li>
    </ul>
  <% end %>
</div>

  <p>_________________________</p>

  <%= link_to "Создать новую станцию", new_railway_station_path %>

  <br>

  <%= link_to "На главную", welcome_index_path %>